:root {
  --white-color: rgb(33, 211, 255);
  --black-color: rgb(5 0 30);
  --pinky-color: rgb(33 81 231);
  --pinky-hover-color: rgb(33 81 231/0.4);
  --second-bg: rgba(83, 93, 240, 0.25);
  --second-light-bg: rgb(83, 69, 251);

  --error-color: rgb(251, 27, 73);
  --error-opacity-color: rgb(251, 27, 73/0.5);
}
