.toggle {
    width: 20px;
    height: 20px;
    border-radius:5px;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-self: center;

    & svg {
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &[data-state='on'] {
        border-color: var(--black-color);
        background-color: var(--black-color);
        & svg {
            opacity: 1;
        }
    }
}