

.card_body {

    padding: 1.5rem;
    flex-direction: column;
}

.title_info {
    opacity: .5;
    font-size: .75rem;
    line-height: 1rem;
}

.text_info {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
}